/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

@media (min-width: 1024px) {
  .trigram {
    display: none;
  }

  .top-navigation li, .social-icons {
    &:hover {
      color: #007BFF;
      background-color: #f0f0f0;
      border-radius: 5px;
      text-decoration: underline;
    } 
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .top-navigation li {
    display: none;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .portfolio-item {
    display: flex;
    flex-direction: row;
  }

  .portfolio-item img {
    width: 100%;
    height: auto;
    display: block
  }

  .teammates-list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }

  .teammates-list-wrapper {
    flex: 1 1 45%;
    max-width: 50%;
  }

  .teammate-img-wrapper {
    width: 100%;
  }

  .footer .social-icons {
    display: none;
  }

  .email {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
  }

  .teammates-list::before, .teammates-list::after {
    display: none;
  }
}

@media (max-width: 767px) {
  .top-navigation li {
    display: none;
  }

 .portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  /* Make each portfolio item's content stack vertically */
  .portfolio-item {
    text-align: left;
  }

  /* Stack the team member cards vertically */
  .teammates-list-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width: 100%;
  }


  /* Stack the footer contact sections vertically */
  .footer-contacts {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  /* Optional: Stack the footer social media icons */
  .social-icons {
    flex-direction: column;
    gap: 1.5rem;
  }

  .teammates-list::before, .teammates-list::after {
    display: none;
  }
}